.fs_15{
    font-size: 15px;
}
.fs_60{
font-size:  60px;
}
.fs_20{
    font-size: 20px;
}
.fs_75{
    font-size: 75px;
}
.fs_19{
    font-size: 19px;
}
.fs_17{
    font-size: 17px;
}
.fs_80{
    font-size: 80px;
}
.fs_30{
    font-size: 30px;
}
.fs_50{
    font-size: 50px;
}
.fs_25{
    font-size: 25px;
}
.fs_18{
    font-size: 18px;
}